*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
figuren/img
figuren/figuren.pdf
06_ha/bild*.*
*.exp.*
*.sin.*
*.x.*
literaturverwaltung/
*.bbl*
*.bcf*
*.blg*
*.run.xml*
latex_ueb_08.pdf
*.out*
*.jpg
*.png
*.nav
*.snm